<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
    <html class=""> <!--<![endif]-->
    <head>
        <!-- description  -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vanina` Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Parallax JS-->
        <script src="public/parallax.js-1.5.0/parallax.min.js"></script>   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
        <link rel="icon" href="public/favicon.ico" type="image/x-icon">

        <!-- styles -->
        <link rel="stylesheet" href="public/stylesheets/main.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    </head>
    <body id="top">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- NAVIGATION -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand page-scroll logo" href="#top">Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto navbar-right">
                    <li class="nav-item">
                        <a class="nav-link page-scroll raise" href="#aboutMe">About Me</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll raise" href="#projects" id="navbarDropdown">My Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll raise" href="#contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </nav> <!-- END NAVIGATION -->
<!-- MAIN CONTENT -->          
        <!-- HEADER -->
        <div class="parallax">            
            <div class="container-fluid">
                <div class="row">
                    <div class="headline">
                        <div class="content">
                            <div class="head-1 mt-5">Hi, I am Vanina.</div>
                            <div class="head-2">I am a Front-end Developer.</div>
                            <div class="head-3">Take a look at my stuff.</div>                
                            <a href="#projects" class="page-scroll">
                                <div class="arrow-down">
                                    <img src="public/images/minified/arrow-down.png" alt="arrow-down" />
                                </div>
                            </a>
                        </div>
                    </div>                
                </div>
            </div>           
        </div>  <!-- END HEADER -->

        <!-- ABOUT ME SECTION -->
        <div class="container">
            <div class="row mx-auto">                
                <div id="aboutMe">
                    <div class="head-2 mb-3 mt-5">About me</div>
                    <div class="col-xl-4 col-md-12 center">                                                          
                        <img src="public/images/minified/Vanina.png" alt="Vanina`s photo" class="about-me-image centered" />                                                                                         
                    </div>
                    <div class="col-xl-8 col-md-12 offset-xl-3 offset-md-0"> 
                        <p>My name is Vanina Mikova and my programming professional life 
                            began around 3 years ago starting with exciting internship in a game development studio, 
                            continuing to grow up as a developer in a fast growing company as a junior Front-end developer. 
                            Although I needed to take a leave for taking care of my child, I am back 
                            on track with new skills learned and a desire for new achievements.</p>
                    </div>                      
                </div>                           
            </div>                 
        </div> <!-- END ABOUT ME  -->

        <!-- TOOLS BLACK SECTION -->
        <div id="black-bg">
            <div class="container tools">
                <div class="head-2 mt-5">Tools I work with</div>
                <div class="row mx-auto halfWidth" id="mustKnow">                      
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/1200px-HTML5_logo_and_wordmark.svg.png">                     
                    </div>
                    <div class="col-md-2 pulse "><img class="img-thumbnail mx-auto" src="/public/images/minified/css.png" alt=""></div>
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/Javascript-shield.png"></div>
                    <div class="col-md-2 pulse"><img  class="img-thumbnail"src="/public/images/minified/node-express.png"></div> 
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/fhtr.png" alt=""></div>                
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/mongodb-logo-1.png" alt=""></div>                                                                                  
                </div>  
                <div class="row mx-auto halfWidth" id="mustKnowTwo">            
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/jquery-logo-png--800.gif" alt=""></div>
                    <div class="col-md-2 pulse"><img  class="img-thumbnail"src="/public/images/minified/sass.sh-600x600.png"></div>
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/rest.png"></div>
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/1_Je4yF-xdHEluVvmS0qw8JQ.png"></div> 
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/bootstrap.png"></div>
                    <div class="col-md-2 pulse"><img class="img-thumbnail" src="/public/images/minified/58482f0ecef1014c0b5e4a7a.png" alt=""></div>                                
                </div>
            </div>
        </div>
        
        <!-- PARALLAX JS IMAGE -->
        <div class="parallax-window grayscale" data-parallax="scroll" data-image-src="public/images/minified/imageedit_2_5444158464.jpg"></div>                
                              
        <!-- MY PROJECTS SECTION -->
        <div class="container text-center" id="projects">               
            <h1 class="head-2 text-center mb-5">My Projects</h1>                 
            <div class="row"> 
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    The Red Bus
                                </button>
                            </h5>
                        </div>                     
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>This is my first project, that I made all by myself for my dear friend Jennifer, who has a private phonics center in Varna.</p>
                                <a href="https://github.com/VaninaDzhuteva/the-red-bus---varna" target="_blank"> 
                                    <div class="box firstProject">
                                        <div class="inner text-center">
                                            <span class="innerText"><em>HTML5</em></span><br />
                                            <span class="innerText"><em>CSS3</em></span><br />
                                            <span class="innerText"><em>BOOTSTRAP</em></span>
                                        </div>                   
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Casualino Internship
                              </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body mx-auto">
                                <p>After I gratuated, I start an interniship in a game development studio, that makes very cool online games. Me and the other colleagues from the interniship were working together on the new website of the firm. After that we were working on the new pages that were adding to the main game, that they are developing.</p>
                                <a href="https://casualino.com//" target="_blank">
                                    <div class="box secondProject">
                                        <div class="inner text-center">
                                            <span class="innerText"><em>HTML5</em></span><br />
                                            <span class="innerText"><em>CSS3</em></span><br />
                                            <span class="innerText"><em>BOOTSTRAP</em></span>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://github.com/VaninaDzhuteva/Belot-Front-page" target="_blank">
                                    <div class="box thirdProject">
                                        <div class="inner text-center">
                                            <span class="innerText"><em>HTML5</em></span><br />
                                            <span class="innerText"><em>CSS3</em></span><br />
                                            <span class="innerText"><em>BOOTSTRAP</em></span><br />
                                            <span class="innerText"><em>jQuery</em></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Udemy Course
                              </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    While I was in my maternity leave I was getting every single free minute to learn new things, so I won`t be lagging behind in my work - and it happend exactly the opposite of my fears! I learned so much, while I was creating these projects. If you wish you can see my sertificates of completion here: 
                                    <a href="https://www.udemy.com/certificate/UC-TINWOBXV/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email" target="_blank">The Web Developer Bootcamp</a> and here: <a href="https://www.udemy.com/certificate/UC-AH2TAZNR/" target="_blank">Intro to Git</a>.
                                </p>
                                <a href="https://github.com/VaninaDzhuteva/To-do" target="_blank">
                                    <div class="box fourthProject">
                                        <div class="inner text-center">
                                            <span class="innerText"><em>HTML5</em></span><br />
                                            <span class="innerText"><em>CSS3</em></span><br />
                                            <span class="innerText"><em>BOOTSTRAP</em></span><br />
                                            <span class="innerText"><em>jQuery</em></span>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://github.com/VaninaDzhuteva/Color-game-Project" target="_blank">
                                    <div class="box fifthProject mx-auto">
                                        <div class="inner text-center">
                                            <span class="innerText"><em>HTML5</em></span><br />
                                            <span class="innerText"><em>CSS3</em></span><br />
                                            <span class="innerText"><em>BOOTSTRAP</em></span><br />
                                            <span class="innerText"><em>JavaScript</em></span>
                                        </div>
                                    </div>    
                                </a>   
                                <a href="https://github.com/VaninaDzhuteva/YelpCamp" target="_blank">                                
                                    <div class="box sixthProject">
                                        <div class="inner text-center">
                                            <span class="innerText"><em>HTML5</em></span><br />
                                            <span class="innerText"><em>CSS3</em></span><br />
                                            <span class="innerText"><em>BOOTSTRAP</em></span><br />
                                            <span class="innerText"><em>Express JS</em></span><br />
                                            <span class="innerText"><em>mongo DB</em></span><br />                        
                                        </div>              
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTACT SECTION -->
        <div id="contact">
            <div class="container">
                <div class="row mx-auto">  
                    <div class="contactContent mx-auto">
                        <div class="head-2">Contact Me</div>
                        <div class="form">                       
                            <div class="socialArea">
                                <p>If you are interested to work with me please send me an e-mail, or you can find me here:</p>
                                <ul>
                                    <li class="social">
                                       <a href="https://www.linkedin.com/in/vaninadzhuteva/" target="_blank">                          
                                            <img src="./public/images/minified/if_linkedin_2308061.png">
                                        </a>
                                    </li>
                                    <li class="social last">
                                       <a href="https://www.facebook.com/vanina.dzuteva" target="_blank">
                                            <img src="./public/images/minified/github.png">
                                        </a>
                                    </li>                                   
                                    <li class="social">
                                       <a href="https://www.facebook.com/vanina.dzuteva" target="_blank">
                                            <img src="./public/images/minified/if_facebook_2308066.png">
                                       </a> 
                                    </li>                                                                     
                                </ul>
                            </div>                       
                            <div class="row">
                                <!-- Form -->
                                <form action="/" id="contact-form" method="POST" role="form" class="mx-auto">
                                    <fieldset>
                                        <label for="name" class="my-2">Your Name:</label><br />
                                        <input id="name" name="name" type="text" placeholder="Enter here" required class="my-2"> <br />
                                        <label for="email" class="my-2">Your Email:</label><br />
                                        <input id="email" name="email" type="text" placeholder="Enter here" required class="my-2"> <br />
                                        <label for="message" class="my-2">Your Message:</label><br />
                                        <textarea id="message" name="message" placeholder="Enter here" rows="5" required class="my-2"></textarea> <br />
                                        <button type="submit" class="btn btn-info my-2">Send</button>                                       
                                    </fieldset> 
                                </form>  
                            </div>                          
                        </div>    
                        <a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>                                                                           
                    </div>      
                </div>                            
            </div>             
        </div>               
        <footer class="text-center pt-2 pb-2">Copyright 2018</footer>
            
        <script type="text/javascript" src="public/script.js"></script>
        <!-- Scrolling effect -->
        <script src="public/jquery.easing.min.js"></script> 

         <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>   

    </body>
</html>